.message{"data-id" => "#{message.id}"}
  %p.username=message.user.name
  %span.date-and-time=message.created_at.strftime("%Y/%m/%d %H:%M")
  -if message.content?
    %p.text=message.content
  .image= image_tag message.image.url if message.image?
