.form-wrapper{
  @include clearfix;
  background-color:#AAAAAA;
  padding:20px 40px 20px 40px;
  width: 100%;
  box-sizing: border-box;
    @media screen and (max-width:700px){
        padding: 10px;
      }


.div{
  height:50px;
  position: relative;

}
  #message_content{
    height:100%;
    box-sizing:border-box;
    color: #434A54;
    font-size:16px;
    padding-left:10px;
    float:left;
    width: 77%;
    margin-right:3%;

  }

  .upload-label{
    position:absolute;
    top: 0;
    transform:translateY(100%);
    right: 28%;
    cursor:pointer;
}

  #submit-btn{
    float:left;
    border:none;
    background-color:$skyBlue;
    border: 2px solid $skyBlue;
    text-decoration:none;
    cursor:pointer;
    color:#FFF;
    height:100%;
    padding:0 30px;
    box-sizing:border-box;
    width:20%;

    @media screen and (max-width:800px){
       padding:0 10px;
       font-size: 70%;
    }
  }
}

.hidden{
  display:none;
}
