@import "./reset";
@import "config/variables";
@import "mixin/mixin";
@import "font-awesome";
@import "user";
@import "modules/flash";
@import "group";

html{
  height:100%;
}

body{
  height:100%;
  @include clearfix;
}

.left-content{
  height:100%;
  width:300px;
  background-color:#2f3e51;
  color:#FFF;
  box-sizing: border-box;
  float:left;
  overflow:auto;
    @media screen and(max-width:700px){
      width:100%;
      height:auto;
      float:none;
      overflow:inherit;
    }

  &__menu-bar{
    background-color: #253141;
    font-weight:bold;
    font-size:16px;
    padding:0 20px;
    height:92px;
    line-height:92px;

    .fa{
      float:right;
      margin-left:10px;
      line-height:92px;
      color:#FFF;
      }
  }


  .group-select{
    display: none;
    cursor:pointer;
    @media screen and (max-width:700px){
      display:block;
      padding:20px;
    }
  }

  &__group-display{
    padding:0 20px 40px;
    text-decoration:none;
    @media screen and (max-width:700px){
      display:none;
      padding:20px;

      &:hover{
        opacity:.8;
      }
    }

    .group-page{
      text-decoration:none;
      color:#FFF;
    }

      p.group-name{
        font-size:15px;
        margin-bottom:5px;
      }

      p.group-name:first-child{
        padding-top:20px;
      }

      p.message{
        font-size:11px;
      }
    }
  &__group-display:nth-child(1){
    display:block;
  }
 }

.right-content{
  float:left;
  width:calc(100% - 300px);
  box-sizing: border-box;

    @media screen and (max-width:700px){
      float:none;
      width:100%;
    }

    &__chat-banner{
      padding: 0 40px;
      border-bottom: 1px solid #eeeeee;
      @include clearfix;
      overflow: auto;
      height:92px;
      box-sizing:border-box;


        .left{
          float:left;
        }
        .group-name{
          font-size:20px;
          color:#333333;
          padding-top:35px;
        }

        .members{
          font-size:12px;
          color:#999999;
        }
      }

    &__message-body{
      padding: 40px 40px 0;
      overflow: auto;
      height: calc(100vh - 182px);
      box-sizing: border-box;

      @media screen and (max-width:700px){
        height:auto;
      }

        .message{
          padding-bottom:46px;

            .username{
              font-size:16px;
              font-weight: bold;
              color:$darkishGrey;
              display:inline-block;
            }

              .date-and-time{
                font-size:12px;
                color:#999999;
                margin-left:5px;
                display:inline-block;
              }

            .text{
              font-size:14px;
              color:$darkishGrey;
            }
        }
    }
}

.right-content__chat-banner{
  .button{
    display:inline-block;
    border:none;
    background-color:none;
    padding:0 20px;
    border: 2px solid $skyBlue;
    text-decoration:none;
    cursor:pointer;
    color:$skyBlue;
    height:40px;
    line-height:40px;
    float:right;
    margin-top:28px;
  }
}

.show{
  display:block;
}

.opacity{
  opacity:.8;
}
@import "message-form";


